html, body {
	/*padding: 0px;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, 'Harlow-Solid-Italic';
	margin: 0;
    padding: 0;
	max-width: 100%;
	min-height: 100%;
}

hr{
	background-color: rgba(255,255,255,1);
}

body p{
	font-size: clamp(0.5rem, 3.35vw + 0.2rem, 1.35rem);
}



.album-content {
    flex: 1;
    margin-bottom: 0 !important;
    min-height: 650px;
}

.album-footer {
    flex-shrink: 0;
}

.grid-container {
  display: grid;
  /* Creates three columns of equal width using the fraction (fr) unit */
  /* grid-template-columns: 1fr 1fr 1fr; 
  /* Adds a 20px gap between rows and columns */
  gap: 20px; 
  /* Creates column tracks that shrink down to 280px minimum or fill available space */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  margin: min(10vw, 20px);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-row {
    	flex-direction: column;
    	gap: 5px;
  	}

    .mobile-arrow {
    	transform: rotate(90deg);
  	}
}

.grid-item {
  color: white;
  padding: 0;
  text-align: center;
  /*overflow: hidden;*/
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; /* Stacks image and content vertically */
}

.grid-item-pop-out {
  color: white;
  padding: 0;
  text-align: center;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column; /* Stacks image and content vertically */

  transition: transform 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 15px;
}

.grid-item-pop-out:hover {
  transform: scale(1.25); /* Pops outwards */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Deepens shadow for depth */
}

.grid-item-pop-out .gallery-pic {
  width: 100%;          /* Forces the image to take up full width of the card */
  height: auto;         /* Allows height to behave naturally with aspect ratio */
  object-fit: cover;    /* Cuts off the edges cleanly instead of squishing them */
  display: block;       /* Removes unwanted inline spacing beneath the image */
  border-radius: 15px;
}

.grid-item img {
  width: 100%;
  object-fit: cover; /* Keeps image proportions from distorting */
  display: block;
  min-height: 0;
  border-radius: 15px;	
}

.grid-item p {
  border-radius: 15px;
  margin: 0;
  grid-column: 1 / -1;
}

.assigned-grid-container {
  display: grid;
  gap: 10px; 
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto;
  margin: min(10vw, 20px);
  position: relative;
  padding-bottom: 10px;
  border-radius: 15px;
}

.assigned-grid-item {
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.assigned-grid-item img {
    display: block;
    width: 100%;
    height: auto;              
    object-fit: contain;       
    border-radius: 15px;
}

.assigned-grid-container-mobile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 20px;
  align-items: stretch;
}

.image-row-mobile {
  display: flex;
  align-items: center; /* keeps arrow vertically centered */
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.assigned-grid-item-mobile {
	width: 100%;
    height: auto;              
    object-fit: contain;       
    border-radius: 15px;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.assigned-grid-item-mobile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.image-arrow {
    align-self: center;
    justify-self: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    /*font-size: 80px;*/
    font-size: clamp(1rem, 6vw, 8rem);
    line-height: 1;
    color: gray;
    -webkit-text-stroke: 2px black; /* border thickness and color */
  	text-stroke: 2px black; /* for broader browser support */
}

#homepage-content-wrapper {
	width: 100%;
    margin: 0;
    text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 25px;
}

.homepage-content {
	color: rgba(255,255,255,1); 
	text-align: center;
	justify-content: center;
	margin-bottom: 0;
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 0;
}

.gallery-container {
  	display: grid;
   /* Creates three columns of equal width using the fraction (fr) unit */
   /* grid-template-columns: 1fr 1fr 1fr; 
   /* Adds a 20px gap between rows and columns */
   gap: 20px; 
   /* Creates column tracks that shrink down to 280px minimum or fill available space */
   grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
   grid-template-rows: auto;
   margin: min(10vw, 20px);
   justify-content: center;
   align-items: center;
	
}

.gallery-row {
  padding: 0;
  margin: 0;
  text-align: center;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column; /* Stacks image and content vertically */
  max-width: 300px;
}

.gallery-col {
	margin-left: 0;
	margin-right: 0;
	justify-content: center;
}

.gallery-card-title {
	font-size: 4vw;
	font-weight: bold;
	min-height: 65px;
	justify-content: center;
	align-content: center;
}

.navbar-nav {
    float:none;
    margin:0 auto !important;
	padding: 0 !important;
    display: block;
    text-align: center;
	line-height: 1 !important;
    /*background-color: #000000 !important; */
    /* background-color: #e74c3c !important; */
    /* font-family:'Harlow-Solid-Italic' !important; */
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-link {
	color: rgba(255,255,255,.5);
	font-size: 28.8px !important;
	padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px  !important;
}


.nav-link:hover {
    color: #FFFFFF !important;
}


#footer {
	background: rgba(255,255,255,0);
	font-size: 12px;
	width: 100%;
	position: fixed;
	margin-top: 0px;
	clear: both;
	left:0px;
   	bottom:0px;
}


#header-jumbotron{
	padding: 10px;
	text-align: center;
	border-radius: 0%;
	background-image: url('{% static 'images/checker-plate-2.png' %}');
}


.image-index{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;

}


#other-jumbotron{
	margin-bottom: 0 !important;
	text-align: left;
	border-radius: 0%;
}


.centering{
	align-items: center;
	justify-content: center;
}

.lefting{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}


.gallery-pic{
	width: auto;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.album-card-link {
    display: block;
    text-decoration: none;
    color: black;
    justify-content: center;
}

.album-card-link .card-action {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}

.album-card-link .card-action span {
    margin: 0;
}

.album-card-link:hover {
    text-decoration: none;
    color: inherit;
}

.carousel-size{
	max-width: 230px;
	max-height: 100px;
	width: auto;
	height: auto;
	align-items: middle !important;
	justify-content: center !important;
}

@media screen and (max-width: 979px) {
    div.corousel-inner.my-inner.carousel-size {       
        border-top: 10px;
        border-left: 10px;
        border-right: 10px;
        border-bottom: 00px;
        border-color: #fff;
        border-style: solid;
        width: 100%;
		height: 100%;
		align-items: middle;
		justify-content: center;
    }
}   


#gallery-wrapper{
	width: auto;
	height: auto;
	/*margin: auto;*/
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

#img-button{
	position: absolute;
  	top: 75%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

#img-button:hover{
	background-color: black;
}