{% extends "layout.html" %}
{% load static %}

{% block styles %}
<style>
    body {
    background: url('{% static "images/welding-bgd.JPG" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    }   
</style>
{% endblock %}

{% block content %}

<div class="jumbotron centering" id="other-jumbotron" style="background-color: rgba(255,255,255,0.8);">
    <div class="gallery-container">
        <div class="gallery-row" style="justify-content: center">
            {% for album in albums|dictsort:"title" %}
                <div class="gallery-col s3 m3 ">
                    <div class="card dpg-album-card-main">
                        <div class=" card-image">
                            <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image-main" style="width: 100%; max-height: 300px; object-fit: cover;"/>
                        </div>
                        <div class="card-content">
                            <span class="card-title" style="font-weight: bold; min-height: 65px;">{{ album.title }}</span>
                            <!-- <p>{{ album.description|truncatechars:120 }}</p> -->
                        </div>
                        <div class="card-action" style="font-weight: bold;">
                            <a href="{% url 'album' album.slug %}">More Images</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                <!-- every 3rd item: close the initial row, and start a new one -->
                </div>
                <div class="gallery-row" style="justify-content: center">
                {% endif %}
                {% if forloop.last %}
                    {% if forloop.counter|divisibleby:"2" %}
                        <!-- on the last iteration, if a full row is complete, close the last row made -->
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:"2"%}
                        <!-- Else: on the last iteration, add one extra card + close the last row made -->
                        <div class="gallery-col s3 m3 ">
                            <div class="card dpg-album-card-main" style="opacity: 0;"></div>
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="pagination center">
        <span class="step-links">
            {% if albums.has_previous %}
            <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
            {% endif %}

            {% if albums.has_next %}
            <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}